body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
header, footer {background-color: cornflowerblue;}
.site-title {color:rgb(112, 25, 68)}
#my-image {box-shadow: 0px 0px 2px 1px black;}
ul.a {list-style-type: square;}
ul li:nth-child(odd) {background-color: cornflowerblue;}
nav > a {
    background-color:cadetblue;
    border:rgb(112, 25, 68);
    text-decoration: none;
 }
a:link {color:salmon;}
a:visited {color:salmon;}
a:hover {background-color:steelblue;}
a:active {background-color:turquoise;}